.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0f181c;
  color: #FEFFFF;
  text-align: center;
  z-index: 2;
  transition: opacity 500ms ease-in-out;
}

.loading-container {
  width: 50%;
  height: 35%;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

.loading-text {
  font-size: 60px;
  padding-bottom: 50px;
}

.loading-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-circle:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #FEFFFF;
  border-color: #FEFFFF transparent #FEFFFF transparent;
  animation: loading-animation 1s ease-in-out infinite;
}

@keyframes loading-animation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}