h1 {
  margin: 0;
  font-size: 50px;
  color: #FEFFFF;
}

p {
  color: #FEFFFF;
}

.intro-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.intro-button {
  margin-top: 25px;
  width: 100%;
}

.car {
  margin-top: 50px;
  animation: carMove 800ms ease-in-out infinite alternate;
}
@keyframes carMove {
  from {
    transform: rotate(1.5deg);
  }
  to {
    transform: rotate(-1.5deg);
  }
}