body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #001427;
  height: 100vh;
  width: 100vw;
}

.m-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 400px;
  background-color: #f25c54;
  color: white;
  padding: 0 20px;
}

.garage {
  fill: #f25c54;
}

.garage:hover {
  fill: #f4845f;
  cursor: pointer;
}

.area {
  fill: transparent;
  stroke: #f25c54;
  stroke-width: .5;
}

.street {
  pointer-events: none;
  fill: none;
  stroke: #7d8597;
  stroke-width: .3;
}

.m-loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #f25c54;
  color: white;
  text-align: center;
  z-index: 2;
  transition: opacity 500ms ease-in-out;
}


.loading-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-circle:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid white;
  border-color: white transparent white transparent;
  animation: loading-animation 1s ease-in-out infinite;
}

@keyframes loading-animation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.selected { 
  fill: #f25c5490;
}