body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #17252A;
  height: 100vh;
  width: 100vw;
}

button {
	background-color:#3AAFA9;
	border-radius: 20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding: 8px 16px;
  text-decoration:none;
  border: 0;
  margin: 5px;
}

button:hover {
	background-color:#3aafa992;
}

button:active {
	position:relative;
	top:1px;
}

button:focus {
  outline: none;
}